<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        
        NathanCHEN
        
    </title>
    
    
    <link href="atom.xml" rel="alternate" title="NathanCHEN" type="application/atom+xml">
    <link rel="stylesheet" href="asset/css/foundation.min.css"/>
    <link rel="stylesheet" href="asset/css/docs.css"/>
    <link rel="stylesheet" href="asset/css/my.css"/>
    <script src="asset/js/vendor/modernizr.js"></script>
    <script src="asset/js/vendor/jquery.js"></script>
    <script src="asset/highlightjs/highlight.pack.js"></script>
    <link href="asset/highlightjs/styles/github.css" media="screen, projection" rel="stylesheet" type="text/css">
    <script>hljs.initHighlightingOnLoad();</script>

</head>
<body class="antialiased hide-extras">

<div class="marketing off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">


        <nav class="top-bar docs-bar hide-for-small" data-topbar>


            <section class="top-bar-section">
                <div class="row">
                    <div style="position: relative;width:100%;">
                        <div style="position: absolute; width:100%;">
                            <ul id="main-menu" class="left">
                                <li id="menu_item_index"><a href="index.html">HOME</a></li>
                                <li id="menu_item_archives"><a href="archives.html">Archives</a></li>
                                <li id="menu_item_about"><a href="about.html">ABOUT</a></li>
                            </ul>

                            <ul class="right" id="search-wrap">
                                <li>
                                    <form target="_blank" action="http://google.com/search" method="get">
                                        <input type="hidden" name="q" value="site:nathanchen.github.io"/>
                                        <input tabindex="1" type="search" name="q" placeholder="Search"/>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        </nav>

        <nav class="tab-bar show-for-small">
            <a href="javascript:void(0)" class="left-off-canvas-toggle menu-icon">
                <span> &nbsp; NathanCHEN</span>
            </a>
        </nav>

        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">

                <li><a href="index.html">HOME</a></li>
                <li><a href="archives.html">Archives</a></li>
                <li><a href="about.html">ABOUT</a></li>

                <li><label>Categories</label></li>

                
                <li><a href="Java.html">Java</a></li>
                
                <li><a href="JavaScript.html">JavaScript</a></li>
                
                <li><a href="Ngnix.html">Ngnix</a></li>
                
                <li><a href="tomcat.html">tomcat</a></li>
                
                <li><a href="spring.html">spring</a></li>
                
                <li><a href="RabbitMQ.html">RabbitMQ</a></li>
                
                <li><a href="ELK.html">ELK</a></li>
                
                <li><a href="TCP/IP.html">TCP/IP</a></li>
                
                <li><a href="%E6%BA%90%E7%A0%81%E9%98%85%E8%AF%BB.html">源码阅读</a></li>
                
                <li><a href="others.html">others</a></li>
                
                <li><a href="%E6%95%B0%E6%8D%AE%E5%BA%93.html">数据库</a></li>
                
                <li><a href="PAXOS.html">PAXOS</a></li>
                
                <li><a href="%E6%B7%B1%E5%85%A5%E5%88%86%E6%9E%90Java%20Web%E6%8A%80%E6%9C%AF%E5%86%85%E5%B9%95.html">深入分析Java Web技术内幕</a></li>
                

            </ul>
        </aside>

        <a class="exit-off-canvas" href="#"></a>


        <section id="main-content" role="main" class="scroll-container">
 <script type="text/javascript">
    $(function () {
        $('#menu_item_index').addClass('is_active');
    });
</script>
<div class="row">
    <div class="large-8 medium-8 columns">
        <div class="markdown-body home-categories">
            
            <div class="article">
                <a class="clearlink" href="14457412435200.html">
                    
                    <h1>---</h1>

                    <div class="a-content">
                        
                        <div class="a-content-text">
                            
                            <p>layout: post<br/>
title: <q>Memcached</q><br/>
category: </p>

<h2 id="toc_0">tags: [<q>读文章</q>]</h2>

<p>{% include JB/setup %}</p>

<ul>
<li><p>需要被缓存的对象或数据以key/value对的形式保存在服务器端，每个被缓存的对象或数据都有唯一的标示符key，存取操作通过这个key进行。保存到memcached中的对象或数据放置到内存中，并不会作为文件存储在磁盘上，所以存取速度非常快。</p></li>
<li><p>由于没有对这些对象进行持久性存储，因此在服务器端的服务重启之后存储在内存中的这些数据就会消失。而且当存储的容量达到启动时设定的值时，就自动使用<strong>LRU算法</strong>删除不用的缓存，memcacahed是为缓存而设计的服务器，因此在设计之初没有过多考虑数据的永久性问题。</p></li>
<li><p>Memcached利用Slab Allocation机制来分配和管理内存。</p></li>
<li><p>传统的内存管理方式是：使用完通过malloc非配的内存后通过free来回收内存。这种方式容易产生内存碎片并降低操作系统对内存的管理效率。</p></li>
<li><p>Slab A类location机制不存在这样的问题，它按照预先规定的大小，将分配的内存分割成特定长度的内存块，再把尺寸相同的内存块分成组，这些内存块不会释放，可以重复利用。</p></li>
<li><p>Memcached服务器端保存着一个空闲的内存块列表，<strong>当有数据存入时根据接收到的数据大小，分配一个能存下这个数据的最小内存块</strong>。这种方式有时会造成内存浪费，（例如：<strong>将一个200字节的数据存入一个300字节的内存块中，会有100字节内存被浪费掉，不能使用</strong>）。<strong>避免浪费内存的方法是，预先计算出应用存入的数据大小，或把同一业务类型的数据存入一个Memcached服务器中，确保存入的数据大小相对均匀，这样就可以减少对内存的浪费</strong>。还有一种方法是，在启动时指定“-f”参数，能在某种程度上控制内存组之间的大小差异。在应用中使用memcached时，通常可以不重新设置这个参数，而用默认值“1.25”进行部署。</p></li>
<li><p>缓存一般用来保存一些经常存取的对象或数据，通过缓存来存取对象或数据要比磁盘存取快很多。Memcache是一种内存缓存，把经常存取的对象或数据缓存在内存中，内存中缓存的这些数据通过API的方式被存取，数据就像一张大的HASH表，以key-value对的方式存在。</p></li>
<li><p>Memcache通过缓存经常被存取的对象或数据，来减轻数据库的压力，提高网站的响应速度，构建速度更快的可拓展的Web应用。</p></li>
</ul>

<h5 id="toc_1">Memcache和数据库协作的流程：</h5>

<ul>
<li>检查客户端的请求的数据是否在Memcached中存在，如果存在，直接把请求的数据返回，不再对数据进行任何操作。</li>
<li>如果请求的数据不在Memcache中，就去查询数据库，把从数据库中获取的数据返回给客户端，同时把数据缓存一份到Memcache中。</li>
<li>每次更新数据库（如更新、删除数据库的数据）的同时更行Memcache中的数据，保证Memcache中的数据和数据库中的数据一致。</li>
<li>当分配给Memcache内存空间用完之后，会使用LRU策略加到期失效策略，失效的数据首先被替换掉，然后在替换掉最近未使用的数据。</li>
</ul>

<p>Memcached使用一种<strong>Lazy Expiration</strong>策略，<strong>自己不会监控存入的key/value对是否过期，而是在获取key值时查看记录的时间戳，检查key/value对空间是否过期</strong>。这种策略不会在过期检测上浪费cpu资源。   </p>

                            
                        </div>
                    </div>
                </a>

                <div class="read-more clearfix">
                    <div class="more-left left">
                        
                        <span class="date">2015/10/25</span>
                        
                        
                    </div>
                    <div class="more-right right">
                  <span class="comments">
                      

                       
                  </span>
                    </div>
                </div>
            </div>
            <!-- article -->
            
            <div class="article">
                <a class="clearlink" href="14457412435105.html">
                    
                    <h1>---</h1>

                    <div class="a-content">
                        
                        <div class="a-content-text">
                            
                            <p>layout: post<br/>
title: <q>CDN</q><br/>
category: </p>

<h2 id="toc_0">tags: [<q>读文章</q>]</h2>

<p>{% include JB/setup %}</p>

<ul>
<li><p>A content delivery network or content distribution network is <strong>a system of computers containing copies of data placed at various nodes of a network</strong>. When properly designed and implemented, a CDN can improve access to the data it caches by increasing access bandwidth and redundancy and reducing access latency, Data content types often caches in CDNs including web objects, downloadable objects....</p></li>
<li><p>The capacity sum of strategically placed servers can be higher than the network backbone capacity. This can result in an impressive increase in the number of concurrent users. For instance, <strong>when there is a 10 Gbit/s network backbone and 200 Gbit/s central server capacity, only 10 Gbit/s can be delivered</strong>. But <strong>when 10 servers are moved to 10 edge locations, total capacity can be 10 10 Gbit/s</strong>.</p></li>
<li><p>Strategically placed edge servers decrease the load on interconnects, public peers, private peers and backbones, freeing up capacity and lowering delivery costs. It uses the same principle as above. Instead of loading all traffic on a backbone or peer link, a CDN can offload these by redirecting traffic to edge servers.</p></li>
<li><p>CDN generally deliver content over TCP and UDP connections.</p></li>
<li><p><strong>TCP throughput over a network is affected by both latency and packet loss</strong>. In order to reduce both of these parameters, <strong>CDNs traditionally place servers as close to the edge networks that users are on as possible</strong>. Theoretically the closer the content the faster the delivery, <strong>although network distance may not be the factor that leads to best performance</strong>. End users will likely experience less jitter, fewer network peaks and surges, and improved stream quality- especially in remote areas. The increased reliability allows a CDN operator to deliver HD quality content with high Quality of Service, low costs and low network load. <strong>Some providers also utilize TCP acceleration technology to further boost CDN’s performance and end-user experiences</strong>.</p></li>
<li><p>CDN nodes are usually deployed in multiple locations, often over multiple backbones. These nodes cooperate with each other to satisfy requests for content by end users, transparently moving content to optimize the delivery process. Optimization can take the form of reducing bandwidth costs, improving end-user performance (reducing page load times and improving user experience), or increasing global availability of content.</p></li>
<li><p><strong>Requests for content are typically algorithmically directed to nodes that are optimal in some way</strong>. When optimizing for performance, locations that are best for serving content to the user may be chosen. This may be measured by <strong>choosing locations that are the fewest hops, the fewest number of network seconds away from the requesting client, or the highest availability in terms of server performance</strong> (both current and historical), so as to optimize delivery across local networks. When optimizing for cost, locations that are least expensive may be chosen instead.</p></li>
<li><p>In an optimal scenario, these two goals tend to align, as servers that are close to the end user at the edge of the network may have an advantage in performance or cost. The edge network is grown outward from the origin/s by further acquiring (via purchase, peering, or exchange) co- location facilities, bandwidth and servers.</p></li>
<li><p>The Internet was designed according to the end-to-end principle. This principle keeps the core network relatively simple and moves the intelligence as much as possible to the network end-points: the hosts and clients. As a result the core network is specialized, simplified, and optimized to only forward data packets.</p></li>
<li><p>Content Delivery Networks augment the end-to-end transport network by distributing on it a variety of intelligent applications employing techniques designed to optimize content delivery. The resulting tightly integrated overlay uses web caching, server-load balancing, request routing, and content services.</p></li>
<li><p>Web caches store popular content on servers that have the greatest demand for the content requested. These shared network appliances reduce bandwidth requirements, reduce server load, and improve the client response times for content stored in the cache.</p></li>
<li><p>Server-load balancing uses one or more techniques including service based (global load balancing) or hardware based, known as a web switch, content switch, or multilayer switch to share traffic among a number of servers or web caches. Here the switch is assigned a single virtual IP address. Traffic arriving at the switch is then directed to one of the real web servers attached to the switch. This has the advantage of balancing load, increasing total capacity, improving scalability, and providing increased reliability by redistributing the load of a failed web server and providing server health checks.</p></li>
<li><p>A content cluster or service node can be formed using a layer 4-7 switch balance load across a number of servers or a number of web caches within the network.</p></li>
<li><p>Request routing directs client requests to the content source best able to serve the request. This may involve directing a client request to the service node that is closest to the client, or to the one with the most capacity.</p></li>
<li><p>CDNs use a variety of methods of content delivery including, but not limited to, manual asset coping, active web caches, and global hardware load balancers.</p></li>
<li><p><strong>Although peer-to-peer is not traditional CDN technology, it is increasingly used to deliver content to end users</strong>. P2P claims low cost and efficient distribution. Even though P2P actually generates more traffic than traditional client-server CDNs for the edge provider (because a<br/>
peer also uploads data instead of just downloading it) it’s welcome by parties running content delivery/distribution services. The real strength of P2P shows when one has to distribute data in high demand, like the latest episode of a television show or some sort of software patch/update in short period of time. One of the advantages of this is that the more people who download the same data, the more efficient P2P is for the provider, slashing the cost of the transit fees that a CDN provider has to pay to their upstream IP transit providers.</p></li>
</ul>

                            
                        </div>
                    </div>
                </a>

                <div class="read-more clearfix">
                    <div class="more-left left">
                        
                        <span class="date">2015/10/25</span>
                        
                        
                    </div>
                    <div class="more-right right">
                  <span class="comments">
                      

                       
                  </span>
                    </div>
                </div>
            </div>
            <!-- article -->
            
            <div class="article">
                <a class="clearlink" href="14457412435014.html">
                    
                    <h1>---</h1>

                    <div class="a-content">
                        
                        <div class="a-content-text">
                            
                            <p>layout: post<br/>
title: <q>Design Patterns</q><br/>
category: </p>

<h2 id="toc_0">tags: [“Java”, <q>设计模式</q>]</h2>

<p>{% include JB/setup %}</p>

<h2 id="toc_1">Adapter</h2>

<p>保持系统的多态性。让第三方接口符合系统已定义的的接口。</p>

<p><strong>你把数据给我，我来带你转给第三方办，你不要关心我是怎么办到的，你不关心我找谁办的，反正肯定给你办成。</strong></p>

<p>我的系统里已经实现了点、线、正方形，现在客户要求我们实现一个圆形</p>

<p>我们会建立一个Circle类来继承Shape，然后需要去实现display、fill、undisplay方法</p>

<p>但是这时我发现同事已经实现了一个画圆的类，但是他的方法名为displayIt、fillIt、undisplayIt</p>

<p>我们不能直接使用这个类，因为那样无法保持多态性，</p>

<pre><code>class Circle extends Shape
{
    private XXCircle pxc; 

    public Circle()
    { 
        pxc = new XXCircle(); 
    } 

    public void display()
    { 
        pxc.displayIt(); 
    } 
} 
</code></pre>

<h2 id="toc_2">Abstract Factory</h2>

<pre><code>public interface Creator
{
　　public ProductA factoryA();
　　public ProductB factoryB();
}
</code></pre>

<p>具体工厂类1：</p>

<pre><code>public class ConcreteCreator1 implements Creator
{
　　public ProductA factoryA()
　　{
        return new ProductA1();
　　}

　　public ProductB factoryB()
　　{
        return new ProductB1();
　　}
}
</code></pre>

<p>具体工厂类2：</p>

<pre><code>public class ConcreteCreator2 implements Creator
{
　　public ProductA factoryA()
　　{
        return new ProductA2();
　　}

　　public ProductB factoryB()
   {
    　　return new ProductB2();
　　}
}
</code></pre>

<h3 id="toc_3">Factory---&gt;UnixFactory/WinFactory</h3>

<p>Button---&gt;UnixButton/WinButton<br/>
Text-----&gt;UnixText/WinText<br/>
Unix产品族和Windows产品族，不会同时使用。</p>

<pre><code>//两种抽象产品：水果、蔬菜
public interface Fruit
{

}
public interface Veggie
{

}

//四种具体产品：北方水果，热带水果，北方蔬菜，热带蔬菜
//Northern Fruit
public class NorthernFruit implements Fruit
{
　　private String name;
　　public NorthernFruit(String name)
　　{

　　}
　　public String getName()
　　{
        return name;
　　}
　　public void setName(String name)
　　{
        this.name = name;
　　}
}
//TropicalFruit
public class TropicalFruit implements Fruit
{
　　private String name;
　　public TropicalFruit(String name)
　　{

　　}
　　public String getName()
　　{
    　　return name;
　　}
　　public void setName(String name)
　　{
    　　this.name = name;
　　}
}
//NorthernVeggie
public class NorthernVeggie implements Veggie
{
　　private String name;
　　public NorthernVeggie(String name)
　　{

　　}
　　public String getName()
　　{
    　　return name;
　　}
　　public void setName(String name)
　　{
    　　this.name = name;
　　}
}
//TropicalVeggie
public class TropicalVeggie implements Veggie
{
　　private String name;
　　public TropicalVeggie(String name)
　　{

　　}
　　public String getName()
　　{
    　　return name;
　　}
　　public void setName(String name)
　　{
    　　this.name = name;
　　}
}
//抽象工厂角色
public interface Gardener
{
　　public Fruit createFruit(String name);
　　public Veggie createVeggie(String name);
}
//具体工厂角色：北方工厂，热带角色
public class NorthernGardener implements Gardener
{
　　public Fruit createFruit(String name)
　　{
    　　return new NorthernFruit(name);
　　}
　　public Veggie createVeggie(String name)
　　{
    　　return new NorthernVeggie(name);
　　}
}
public class TropicalGardener implements Gardener
{
　　public Fruit createFruit(String name)
　　{
    　　return new TropicalFruit(name);
　　}
　　public Veggie createVeggie(String name)
　　{
    　　return new TropicalVeggie(name);
　　}
}
</code></pre>

<h2 id="toc_4">Facade</h2>

<h2 id="toc_5">Decorator</h2>

<p>要点喝的，有奶茶，咖啡，茶。另外每一种饮品还能加上珍珠，糖，布丁之类的料。</p>

<p>最后我点：奶茶加珍珠加布丁。</p>

<pre><code>public abstract class Beverage
{
    String description = &quot;Unknow Beverage&quot;;

    public String getDescription()
    {
        return description;
    }
    public abstract double cost();
}

public abstract class CondimentDecorator extends Beverage
{
    public abstract String getDescription();
}

public class Espresso extends Beverage
{
    public Espresso()
    {
        description = &quot;Espresso&quot;;
    }
    public double cost()
    {
        return 1.99;
    }
}

public class Mocha extends CondimentDecorator
{
    Beverage beverage;

    public Mocha(Beverage beverage)
    {
        this.beverage = beverage;
    }
    public String getDescription
    {
        return beverage.getDescription + &quot;, Mocha&quot;;
    }
    public double cost()
    {
        return .2 + beverage.cost();
    }
}

public class Whip extends CondimentDecorator
{
    Beverage beverage;

    public Mocha(Beverage beverage)
    {
        this.beverage = beverage;
    }
    public String getDescription
    {
        return beverage.getDescription + &quot;, Whip&quot;;
    }
    public double cost()
    {
        return .9 + beverage.cost();
    }
}

public class StarbuzzCoffee
{
    public static void main(String args[])
    {
        Beverage beverage = new Espresso();
        beverage = new Mocha(beverage);
        beverage = new Mocha(beverage);
        beverage = new Whip(beverage);

        System.out.println(beverage.getDescription + &quot; $&quot;
            + beverage.cost());
    }
}
</code></pre>

<h2 id="toc_6">Singleton</h2>

<h2 id="toc_7">Observer</h2>

<p>Observer更多的体现的是订阅与发布的思想<br/>
举个例子说明，Bea论坛上都会定期发布一些举办活动的通告，而想参加活动的都需要先去注册一下，然后报名<br/>
报名后，Bea会给所有的参加者发一封通知信，告诉又有人参加了<br/>
当然了，如果你取消注册，那么到时候将收不到通知了。 </p>

<pre><code>public interface BeaNotice 
{  
    public void addObserver(Observer o);  
    public void removeObserver(Observer o);  
    public void addUser();  
}  

public class BeaNoticeImpl implements BeaNotice
{  
    private List observers = new ArrayList();  

    public void addObserver(Observer o){  
        observers.add(o);  
    }  

    public void removeObserver(Observer o){  
        observers.remove(o);  
    }  

    public void notifyAllObservers(){  
        for(int i = 0; i &lt; observers.size(); i++){  
            ((Observer)observers.get(i)).update(this);  
        }  
    }  

    public void addUser(){  
        //数据库操作，向数据库插入一个用户的信息，然后通知所有注册的用户  
        notifyAllObservers();  
    }  
}  

public interface Observer 
{  
    public void update(BeaNoticeImpl bns);   

}  

public class WelcomeLetterObserver implements Observer 
{  
    BeaNotice beaNotice = null;  

    public WelcomeLetterObserver(BeaNotice beaNotice){  
        this.beaNotice = beaNotice;  
        beaNotice.addObserver(this);  
    }  

    public void update(BeaNoticeImpl bns) {  
        System.out.println(&quot;This is a welocme letter!&quot;);  
    }  

}  

public class OtherNoticeObserver implements Observer 
{  
    BeaNotice beaNotice = null;  

    public OtherNoticeObserver(BeaNotice beaNotice){  
        this.beaNotice = beaNotice;  
        beaNotice.addObserver(this);  
    }  

    public void update(BeaNoticeImpl bns) {  
        System.out.println(&quot;there is other Notice!&quot;);  
    }  

}  
</code></pre>

<h2 id="toc_8">Strategy</h2>

<h2 id="toc_9">Proxy</h2>

<p>有两个同学B和C，B是男的，C是女的，你晚上想给女同学C打电话咨询点事，<br/>
但是你女友不让所以，你只能通过你的男同学B和C通话，<br/>
然后把让B把反馈的结果告诉你</p>

<pre><code>public interface IStudent 
{  
     public String answerSomeQuestion();  
}  

public class IGirlImpl implements IStudent 
{  
    public String answerSomeQuestion()
    {  
        System.out.println(&quot;answer some question&quot;);  
        return &quot;this is my answer&quot;;  
    }  
}  

public class IBoyProxyImpl implements IStudent 
{  
    IGirlImpl girl = null;  
    public String answerSomeQuestion() 
    {  
        System.out.println(&quot;do someting before method invoke&quot;);  
        if(girl == null)
        {  
            girl = new IGirlImpl();  
        }  
        String returnValue = girl.answerSomeQuestion();  
        System.out.println(&quot;do someting after method invoke&quot;);  
        return returnValue;  
    }  
}  
</code></pre>

<h3 id="toc_10">Reference</h3>

<p>设计模式之Adapter模式, <a href="http://lizwjiang.iteye.com/blog/86391">http://lizwjiang.iteye.com/blog/86391</a></p>

                            
                        </div>
                    </div>
                </a>

                <div class="read-more clearfix">
                    <div class="more-left left">
                        
                        <span class="date">2015/10/25</span>
                        
                        
                    </div>
                    <div class="more-right right">
                  <span class="comments">
                      

                       
                  </span>
                    </div>
                </div>
            </div>
            <!-- article -->
            
            <div class="article">
                <a class="clearlink" href="14457412434895.html">
                    
                    <h1>---</h1>

                    <div class="a-content">
                        
                        <div class="a-content-text">
                            
                            <p>layout: post<br/>
title: <q>MongoDB The Definitive Guide(1)</q><br/>
category: Study Notes</p>

<h2 id="toc_0">tags: [<q>MongoDB</q>, <q>读书</q>]</h2>

<p>{% include JB/setup %}</p>

<h2 id="toc_1">Chapter 2 Getting Started</h2>

<ol>
<li>A <strong>document</strong> is the <strong>basic unit of data for MongoDB</strong>, roughly equivalent to a row in a relational database management system.</li>
<li><strong>A collection can be thought of as the schema-free equivalent of a table</strong>.</li>
<li>MongoDB comes with a simple but powerful Javascript shell.</li>
<li>Every document has a special key, <q>_id</q>, that is unique across the document&#39;s collection.</li>
</ol>

<h3 id="toc_2">Document</h3>

<ol>
<li>A document: an ordered set of keys with associated values.</li>
</ol>

<p>Example:</p>

<pre><code>    {&quot;greeting&quot; : &quot;Hello world!&quot;}
</code></pre>

<h5 id="toc_3">Several Important concepts</h5>

<ul>
<li><p><strong>Key/ value pairs in documents are ordered</strong> - the following two documents are distinct from each other, example:</p>

<pre><code>{&quot;greeting&quot; : &quot;Hello world!&quot;, &quot;foo&quot; : 3}
{&quot;foo&quot; : 3, &quot;greeting&quot; : &quot;Hello world!&quot;}
</code></pre></li>
<li><p>Values in documents are not just <q>blobs</q>. They can be one of several different data types.</p></li>
</ul>

<h5 id="toc_4">Key naming exceptions</h5>

<ul>
<li>Keys must not contain the character \0 (the null character)</li>
<li>The . and $ characters have some special properties and should be used only in certain circumstances. In general, they should be considered reserved, and drivers will complain if they are used inappropriately.</li>
<li>Keys starting with _ should be considered reserved; although this is not strictly enforced.</li>
</ul>

<p>These documents are distince:</p>

<pre><code>    {&quot;foo&quot; : 3}
    {&quot;foo&quot; : &quot;3&quot;}
</code></pre>

<p>As are as these:</p>

<pre><code>    {&quot;foo&quot; : 3}
    {&quot;Foo&quot; : 3}
</code></pre>

<p><strong>MongoDB cannot contain duplicate keys.</strong></p>

<h3 id="toc_5">Collections</h3>

<ol>
<li><p><strong>A collection is a group of documents</strong>. If a document is the MongoDB analog of a row in a relational database, then a collection can be thought of as the analog to a table.</p></li>
<li><p><strong>Collection are schema-free</strong>. This means that the documents within a single collection can have any number of different <q>shapes</q>.</p></li>
<li><p>Any document can be put into any collection.</p></li>
<li><p>Why should we use more than one collection? There are several good reasons:</p>

<ul>
<li>Keeping different kinds of documents in the same collection can be a nightmare for developers and admins. </li>
<li>It is much faster to get a list of collections than to extract a list of the types in a collection.</li>
<li>Grouping documents of the same kind together in the same collection allows for data locality. Getting several blog posts from a collection containing only posts will likely require fewer disk seeks than getting the same posts from a collection containing posts and author data. </li>
<li><strong>By putting only documents of a single type into the same collection, we can index our collections more efficiently</strong>.</li>
</ul></li>
</ol>

<h5 id="toc_6">Collection naming exceptions</h5>

<p>A collection is identified by its name. Collection names can be any UTF-8 string, with a few restrictions:</p>

<ul>
<li>The empty string (&quot;&quot;) is not a valid collection name.</li>
<li>Collection names may not contain the character \0 (the null character) because this delineates the end of a collection name.</li>
<li>You should not create any collections that start with &#39;system.&#39;, a prefix reserved for system collections. </li>
<li>User-created collections should not contain the reserved character \( in the name. You should not use \) in a name unless you are accessing one of these collections.</li>
</ul>

<p><strong>One convention for organizing collections is to use namespaced subcollections separeted by the . character.</strong></p>

<h3 id="toc_7">Databases</h3>

<ol>
<li>In addition to grouping documents by collection, MongoDB groups collections into databases.</li>
<li>A single instance of MongoDB can host several databases, each of which can be thought as completely independent.</li>
<li>Each database is stored in separate files on disk.</li>
<li>A good rule of thumb is to store all data for a single application in the same database. Separate databases are useful when storing the data for several application or users on the same MongoDB server.</li>
</ol>

<h5 id="toc_8">Database naming exceptions</h5>

<ul>
<li>The empty string (&quot;&quot;) is not a valid database name.</li>
<li>Database names should be all lowercase.</li>
<li>Database names are limited to a maximum of 64 bytes.</li>
</ul>

<h2 id="toc_9">Starting MongoDB</h2>

<ol>
<li>mongod will use the default data directory, /data/db/ and port 27017</li>
<li>mongod also sets up a very basic HTTP server that listens on a port 1000 higher than the main port. in this case 28017.</li>
<li><p>You can safely stop mongod by typing Ctrl+c in the shell that is running the server.</p>

<pre><code>--- select which database to use---
&gt; use foobar
Switched to db foobar

--- look at the db variable---
&gt; db
foobar
---
</code></pre></li>
</ol>

<h2 id="toc_10">Basic operations with MongoDB Shell</h2>

<ol>
<li><p>Create</p>

<pre><code>&gt; post = {&quot;title&quot; : &quot;My Blog Post&quot;,
... &quot;content&quot; : &quot;Here&#39;s my blog post.&quot;, 
... &quot;date&quot; : new Date()}
{
    &quot;title&quot; : &quot;My Blog Post&quot;,
    &quot;content&quot; : &quot;Here&#39;s my blog post.&quot;,
    &quot;date&quot; : &quot;Sat Dec 12 2009 11:23:21 GMT-0500 (EST)&quot;
}

&gt; db.blog.insert(post)

---We can see it by calling find on the collection:
&gt; db.blog.find()
{
    &quot;_id&quot; : ObjectId(&quot;4b23c3ca7525f35f94b60a2d&quot;), 
    &quot;title&quot; : &quot;My Blog Post&quot;,
    &quot;content&quot; : &quot;Here&#39;s my blog post.&quot;,
    &quot;date&quot; : &quot;Sat Dec 12 2009 11:23:21 GMT-0500 (EST)&quot;
}
</code></pre></li>
<li><p>Read<br/>
find returns all of the documents in a collection. If we just want to see one document from a collection, we can use findone:</p>

<pre><code>&gt; db.blog.findOne()
{
    &quot;_id&quot; : ObjectId(&quot;4b23c3ca7525f35f94b60a2d&quot;),
    &quot;title&quot; : &quot;My Blog Post&quot;,
    &quot;content&quot; : &quot;Here&#39;s my blog post.&quot;,
    &quot;date&quot; : &quot;Sat Dec 12 2009 11:23:21 GMT-0500 (EST)&quot;
}
</code></pre></li>
<li><p>Update<br/>
Update takes (at least) two parameters: the first is the criteria to find which document to update, and the second is the new document.<br/>
Example:</p>

<pre><code>---We decide to enable comments on the blog post

---The first step is to modify the variable post and add a &quot;comments&quot; key:
&gt; post.comments = []
[]
---Then we perform the update, replacing the post titled &quot;My Blog Post&quot; with our new version of the document:
&gt; db.blog.update({title : &quot;My Blog Post&quot;}, post)

&gt; db.blog.find()
{
    &quot;_id&quot; : ObjectId(&quot;4b23c3ca7525f35f94b60a2d&quot;), 
    &quot;title&quot; : &quot;My Blog Post&quot;,
    &quot;content&quot; : &quot;Here&#39;s my blog post.&quot;,
    &quot;date&quot; : &quot;Sat Dec 12 2009 11:23:21 GMT-0500 (EST)&quot; 
    &quot;comments&quot; : [ ]
}
</code></pre></li>
<li><p>Delete<br/>
remove deletes documents permanently from the database. Called with no parameters, it removes all documents from a collection. It can also take a document specifying criteria for removal.</p>

<pre><code>&gt; db.blog.remove({title : &quot;My Blog Post&quot;})
</code></pre></li>
<li><p>Help<br/>
Help for database-level commands is provided by db.help(); and help at the collections can be accessed with db.foo.help().</p></li>
</ol>

<p>A good way fo figuring out what a function is doing is to type it without the parentheses. This will print the JavaScript source code for the function.</p>

<pre><code>    ---if you needed to perform some operation on every blog subcollection, you could iterate through them with something like this:
    var collections = [&quot;posts&quot;, &quot;comments&quot;, &quot;authors&quot;];
    for (i in collections) {
        doStuff(db.blog[collections[i]]);
     }

    ---instead of this:
    doStuff(db.blog.posts); 
    doStuff(db.blog.comments); 
    doStuff(db.blog.authors);
</code></pre>

<h2 id="toc_11">Basic Data Types</h2>

<ol>
<li><p>null: null can be used to represent both a null value and a nonexistent field:</p>

<pre><code>{&quot;x&quot; : null}
</code></pre></li>
<li><p>boolean: There is a boolean type, which will be used for the values &#39;true&#39; and &#39;false&#39;:</p>

<pre><code>{&quot;x&quot; : true}
</code></pre></li>
<li><p>64-bit floating point number: all numbers in the shell will be of this type. Thus, this will be a floating-point number:</p>

<pre><code>{&quot;x&quot; : 3.14}
---As will this:
{&quot;x&quot; : 3}
</code></pre></li>
<li><p>string: Any string of UTF-8 characters can be represented using the string type:</p>

<pre><code>{&quot;x&quot; : &quot;foobar&quot;}
</code></pre></li>
<li><p>symbol: This type is not supported by the shell. If the shell gets a symbol from the database, it will convert it into a string.</p></li>
<li><p>object id: An object id is a unique 12-byte ID for documents.</p>

<pre><code>{&quot;x&quot; : ObjectId()}
</code></pre></li>
<li><p>date: Dates are stored as milliseconds since the epoch. The timezone is not stored:</p>

<pre><code>{&quot;x&quot; : new Date()}
</code></pre></li>
<li><p>regular expression: documents can contain regular expressions.</p>

<pre><code>{&quot;x&quot; : /foobar/i}
</code></pre></li>
<li><p>code: Documents can also contain JavaScript code:</p>

<pre><code>{&quot;x&quot; : function(){/*...*/}}
</code></pre></li>
<li><p>undefined: undefined can be used in documents as well</p>

<pre><code>{&quot;x&quot; : undefined}
</code></pre></li>
<li><p>array: sets or lists of values can be represented as arrays:</p>

<pre><code>{&quot;x&quot; : [&quot;a&quot;, &quot;b&quot;, &quot;c&quot;]}
</code></pre></li>
<li><p>embedded document: documents can contain entire documents, embedded as values in a parent document:</p>

<pre><code>{&quot;x&quot; : {&quot;foo&quot; : &quot;bar&quot;}}
</code></pre></li>
</ol>

<h3 id="toc_12">Numbers</h3>

<ol>
<li><p>By default, any number in the shell is treated as a double by MongoDB. This means that if you retrieve a 4-byte integer from the database, manipulate its document, and save it back to the database even without changing the integer. the integer will be resaved as a floating-point number. Thus, it is generally a good idea not to overwrite entire documents from the shell.</p></li>
<li><p>Another problem with every number being represented by a double is that there are some 8-byte integers that cannot be accurately represented by 8-byte floats.</p></li>
</ol>

<h3 id="toc_13">Arrays</h3>

<ol>
<li>Arrays are values that can be interchangeably used for both ordered operations and unordered operations.</li>
<li>Arrays can contain different data types as value. In fact. array values can be any of the supported values for normal key/ value pairs, even nested arrays.</li>
</ol>

<h3 id="toc_14">Embedded Documents</h3>

<ol>
<li><p>Embedded documents are entire MongoDB documents that are used as the value of a key in another document.</p>

<pre><code>{
    &quot;name&quot; : &quot;John Doe&quot;, 
    &quot;address&quot; : {
    &quot;street&quot; : &quot;123 Park Street&quot;, 
    &quot;city&quot; : &quot;Anytown&quot;,
    &quot;state&quot; : &quot;NY&quot;
    }
}
</code></pre>

<p>The value for the <q>address</q> key is another document with its own values for <q>street</q>, <q>city</q> and <q>state</q>.</p></li>
</ol>

<p><strong>MongoDB <q>understands</q> the structure of embedded documents and is able to <q>reach</q> inside&quot; of them to build indexes, perform queries, or make updates.</strong></p>

<p>Suppose <q>address</q> were a seperate table in a relational database and we needed to fix a typo in an address. When we did a join with <q>people</q> and <q>addresses</q>, we&#39;d get the updated address for everyone who shares it. With MongoDB, we&#39;d need to fix the typo in each person&#39;s document.</p>

<h3 id="toc_15">id and ObjectIds</h3>

<ol>
<li>Every documents stored in MongoDB must have an <q>_id</q> key. The <q>_id</q> key&#39;s value can be any type, but it defaults to an ObjectId.</li>
</ol>

<p><strong>If you have two collections, each one could have a document where the value for <q>_id</q> was 123. However, neither collection could contain more than one document where <q>_id</q> was 123.</strong></p>

<p>ObejectId use 12 bytes of storage.</p>

<ul>
<li>The <strong>first four bytes</strong> of an ObjectId are <strong>a timestamp in seconds</strong> since the epoch.
<strong>The actual value of the timestamp doesn&#39;t matter, only that it is often new and increasing.</strong></li>
<li>The <strong>next three bytes</strong> of an ObjectId are an unique identifier of the <strong>machine</strong> on which <strong>it was generated</strong>. This is usually a hash of the machine&#39;s hostname.</li>
<li>The <strong>next two bytes</strong> are taken from the <strong>process identifier(PID)</strong> of the ObjectId-generating process.</li>
</ul>

<p>These first nine bytes of an ObjectId guarantee its uniqueness across machines and processes for a single second. <strong>The last three bytes are simply an incrementing counter</strong> that is responsible for uniqueness within a second in a single process.</p>

<h2 id="toc_16">REFERENCE</h2>

<p>\K. Chodorow, M. Dirolf, <q>MongoDB: The Definitive Guide</q>, O&#39;Reilly, 2010, US</p>

                            
                        </div>
                    </div>
                </a>

                <div class="read-more clearfix">
                    <div class="more-left left">
                        
                        <span class="date">2015/10/25</span>
                        
                        
                    </div>
                    <div class="more-right right">
                  <span class="comments">
                      

                       
                  </span>
                    </div>
                </div>
            </div>
            <!-- article -->
            
            <div class="article">
                <a class="clearlink" href="14457412434809.html">
                    
                    <h1>---</h1>

                    <div class="a-content">
                        
                        <div class="a-content-text">
                            
                            <p>layout: post<br/>
title: <q>High Availability for the Hadoop Distributed File System (HDFS)</q><br/>
category: Reading Notes </p>

<h2 id="toc_0">tags: [<q>读文章</q>, <q>HDFS</q>, <q>分布式系统</q>]</h2>

<p>{% include JB/setup %}</p>

<ol>
<li><p>HDFS, the Hadoop Distributed File System, is the primary storage system of Hadoop, and is responsible for storing and serving all data stored in Hadoop. MapReduce is a distributed processing framework designed to operate on data stored in HDFS.</p></li>
<li><p>Despite very high level of reliability, HDFS has always had a well-known single point of failure which impacts HDFS&#39;s availability: <strong>the system relies on a single Name Node to coordinate access to the file system data</strong>.</p></li>
<li><p>In the case of HBase, used to directly serve customer requests in real time. <strong>Adding high availability(HA) to the HDFS Name Node</strong> became <strong>one of the top priorities</strong> for the HDFS community.</p></li>
<li><p>The remainder of this post discuss the implementation of a new feature for HDFS, called the <q><strong>HA Name Node</strong></q>.</p></li>
<li><p>The goal of the HA Name Node project is to add support for <strong>deploying two Name Nodes in an active/passive configuration</strong>. This is a common configuration for highly-available distributed systems, and HDFS&#39;s architecture lends itself well to this design. Even in a non-HA configuration, HDFS already requires both a Name Node and another node with similar hardware specs which performs checkpointing operations for the Name Node.</p></li>
<li><p>The <strong>HDFS Name Node is primarily responsible for</strong> serving two types of file system metadata: <strong>file system namespace information and block locations</strong>.</p></li>
<li><p><strong>All mutations to the file system namespace</strong>, such as file renames, permission changes, file creations, block allocation, etc, <strong>are written to a persistent write-ahead log</strong> by the Name Node before returning success to a client call. </p></li>
<li><p>In addition to this edit log, periodic checkpoints of the file system, called the fsimage, are also created and stored on-disk on the Name Node. </p></li>
<li><p>Block locations are stored only in memory.</p></li>
<li><p>The locations of all blocks are received via <q>block reports</q> sent from the Data Nodes when the Name Node is started.</p></li>
<li><p><strong>The goal of the HA Name Node is to provide a hot standby Name Node that can take over serving the role of the active Name Node with no downtime</strong>.</p></li>
<li><p>Empirically, starting a Name Node from cold state can take tens of minutes to load the namespace information (fsimage and edit log)from disk, and up to an hour to receive the necessary block reports from all Data Nodes in a large cluster.</p></li>
<li><p>To address the issue of sharing state between the active and standby Name Nodes, the HA Name Node feature allows for the configuration of a special shared edits directory. This directory should be available via a network file system, and should be read/write accessible from both Name Nodes. This directory is treated as being required by the active Name Node, meaning that success will not be returned to a client call unless the file system change has been written to the edit log in this directory. The standby Name Node polls the shared edits directory frequently, looking for new edits written by the active Name Node, and reads these edits into its own in-memory view of the file system state.</p></li>
<li><p>The design of the HA Name Node is such that the passive Name Node is capable of performing this checkpointing role, thus requiring no additional Hadoop server machines beyond what HDFS already requires.</p></li>
<li><p>Requiring a single shared edits directory does not necessarily imply a new single point of failure.</p></li>
<li><p>The other part of keeping the standby Name Node hot is making sure that it has up-to-date block location information. </p></li>
<li><p>Since block locations aren&#39;t written to the Name Node edit log, reading from the shared edits directory is not sufficient to share this file system metadata between the two Name Nodes. To address this issue, when HA is enabled, all Data Nodes in the cluster are configured with the network addresses of both Name Nodes.</p></li>
</ol>

                            
                        </div>
                    </div>
                </a>

                <div class="read-more clearfix">
                    <div class="more-left left">
                        
                        <span class="date">2015/10/25</span>
                        
                        
                    </div>
                    <div class="more-right right">
                  <span class="comments">
                      

                       
                  </span>
                    </div>
                </div>
            </div>
            <!-- article -->
            


            <div class="row">
                <div class="large-6 columns">
                    <p class="text-left" style="padding-top:25px;">
                         <a href="all_24.html">&laquo; Prev Page</a> 
                    </p>
                </div>
                <div class="large-6 columns">
                    <p class="text-right" style="padding-top:25px;">
                         <a href="all_26.html">&raquo; Next Page</a> 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- large 8 -->

 <div class="large-4 medium-4 columns">
    <div class="hide-for-small">
        <div id="sidebar" class="sidebar">
            <div id="site-info" class="site-info">
                
                <h1>NathanCHEN</h1>

                <div class="site-des"></div>
                <div class="social">
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <a class="rss" href="atom.xml" title="RSS">RSS</a>

                </div>
            </div>
            <div id="site-categories" class="side-item ">
                <div class="side-header">
                    <h2>Contact</h2>
                </div>
                <div class="side-content">
                    <ul class="posts-list">
                        <li class="post">
                            <p class="email-addr">tringchen AT gmail.com</p>

                            <p class="email-addr">江苏 · 南京</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="site-categories" class="side-item ">
                <div class="side-header">
                    <h2>Categories</h2>
                </div>
                <div class="side-content">

                    <p class="cat-list">
                        
                        <a href="Java.html"><strong>Java</strong></a>
                        
                        <a href="JavaScript.html"><strong>JavaScript</strong></a>
                        
                        <a href="Ngnix.html"><strong>Ngnix</strong></a>
                        
                        <a href="tomcat.html"><strong>tomcat</strong></a>
                        
                        <a href="spring.html"><strong>spring</strong></a>
                        
                        <a href="RabbitMQ.html"><strong>RabbitMQ</strong></a>
                        
                        <a href="ELK.html"><strong>ELK</strong></a>
                        
                        <a href="TCP/IP.html"><strong>TCP/IP</strong></a>
                        
                        <a href="%E6%BA%90%E7%A0%81%E9%98%85%E8%AF%BB.html"><strong>源码阅读</strong></a>
                        
                        <a href="others.html"><strong>others</strong></a>
                        
                        <a href="%E6%95%B0%E6%8D%AE%E5%BA%93.html"><strong>数据库</strong></a>
                        
                        <a href="PAXOS.html"><strong>PAXOS</strong></a>
                        
                        <a href="%E6%B7%B1%E5%85%A5%E5%88%86%E6%9E%90Java%20Web%E6%8A%80%E6%9C%AF%E5%86%85%E5%B9%95.html"><strong>深入分析Java Web技术内幕</strong></a>
                        
                    </p>


                </div>
            </div>

            <div id="site-categories" class="side-item">
                <div class="side-header">
                    <h2>Recent Posts</h2>
                </div>
                <div class="side-content">
                    <ul class="posts-list">
                        
                        
                        <li class="post">
                            <a href="14590098445355.html">应用多级缓存模式支撑海量读服务</a>
                        </li>
                        
                        
                        
                        <li class="post">
                            <a href="14589988314853.html">浅谈Web缓存</a>
                        </li>
                        
                        
                        
                        <li class="post">
                            <a href="14588873943004.html">深入分析`Java I/O`的工作机制</a>
                        </li>
                        
                        
                        
                        <li class="post">
                            <a href="14588864645651.html">深入Web请求过程</a>
                        </li>
                        
                        
                        
                        <li class="post">
                            <a href="14588864364518.html">I</a>
                        </li>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                    </ul>
                </div>
            </div>
        </div>
        <!-- sidebar -->
    </div>
    <!-- hide for small -->
</div><!-- large 4 -->

</div><!-- row -->
 <div class="page-bottom clearfix">
    <div class="row">
        <p class="copyright">Copyright &copy; 2016
            Powered by <a target="_blank" href="http://www.mweb.im">MWeb</a>,&nbsp;
            Theme used <a target="_blank" href="http://github.com">GitHub CSS</a>.</p>
    </div>
</div>
</section>
</div>
</div>




<script src="asset/js/foundation.min.js"></script>
<script>
    $(document).foundation();
    function fixSidebarHeight() {
        var w1 = $('.markdown-body').height();
        var w2 = $('#sidebar').height();
        if (w1 > w2) {
            $('#sidebar').height(w1);
        }
        ;
    }
    $(function () {
        fixSidebarHeight();
    })
    $(window).load(function () {
        fixSidebarHeight();
    });

</script>





</body>
</html>
