---
layout: page
title: 文章
header: Posts By Tag
group: 
---
{% include JB/setup %}
<div class="page-header">
	<a class="btn" href="/archive.html">按时间查看</a>
  	<a class="btn disabled" href="/tags.html">按标签查看</a>
  	<a class="btn" href="/categories.html">按类别查看</a>
</div>
<ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
</ul>


{% for tag in site.tags %} 
  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
  </ul>
{% endfor %}
