<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>  
	  
  	NathanCHEN
  	
	</title>

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="atom.xml" rel="alternate" title="NathanCHEN" type="application/atom+xml">

	<link href="asset/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
	<link href="asset/stylesheets/font-awesome.min.css" media="screen, projection" rel="stylesheet" type="text/css">
	<script src="asset/javascripts/jquery.min.js"></script>
	<script src="asset/highlightjs/highlight.pack.js"></script>
	<link href="asset/highlightjs/styles/solarized_dark.css" media="screen, projection" rel="stylesheet" type="text/css">
<script>hljs.initHighlightingOnLoad();</script>

	<!--[if lt IE 9]><script src="asset/javascripts/html5.js"></script><![endif]-->
	<!-- <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'> -->
	<style type="text/css">
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito-Light'), url(asset/font/1TiHc9yag0wq3lDO9cw0voX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito-Regular'), url(asset/font/6TbRXKWJjpj6V2v_WyRbMX-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito-Bold'), url(asset/font/TttUCfJ272GBgSKaOaD7KoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
	</style>
	
	<style type="text/css">
	.container .left-col{ opacity: 1;}
	#pagenavi a{ font-size: 1.3em;}
	#pagenavi .next:before{ top: 3px;}
	#pagenavi .prev:before{ top: 3px;}
	.container .mid-col .mid-col-container #content .archives .title{ font-size: 1.5em;}
	.container .mid-col .mid-col-container #content article{ padding: 15px 0px;}
	#header .subtitle {
		line-height: 1.2em;
		padding-top: 8px;
	}
	article pre{ background: none; border: none; padding: 0;}
	article .entry-content{text-align: left;}
	.share-comment{ padding: 25px 0px; clear: both;}
	hr{ margin: 20px 0px;border: 0; border-top:solid 1px #ddd;}
	</style>
  

</head>


<body>
	<div class="container">
		<div class="left-col">
			<div class="intrude-less">
				<header id="header" class="inner">
					<div class="profilepic">
						<img src="asset/icon.jpg" style="width:160px;">
					</div>
					<h1><a href="index.html">NathanCHEN</a></h1>
					<p class="subtitle"></p>
					<nav id="main-nav">
						<ul class="main">
							<li><a href="index.html">Home</a></li>
						    <!-- <li><a href="all.html">Blog</a></li>-->	
						    <li><a href="archives.html">Archives</a></li>
						</ul>
					</nav>

					<nav id="sub-nav">
						<div class="social">

<!-- 
			<a class="email" href="mailto:" title="Email">Email</a>
			<a class="facebook" href="http://www.facebook.com/" title="Facebook">Facebook</a>
			<a class="google" href="https://plus.google.com/" rel="author" title="Google+">Google+</a>
			<a class="twitter" href="http://twitter.com/" title="Twitter">Twitter</a>
			<a class="github" href="https://github.com/" title="GitHub">GitHub</a>
			<a class="coderwall" href="https://coderwall.com/" title="Coderwall">Coderwall</a>
		    <a class="stackoverflow" href="http://stackoverflow.com/users/" title="StackOverflow"></a>
			<a class="linkedin" href="http://www.linkedin.com/in/" title="LinkedIn">LinkedIn</a>
			<a class="pinterest" href="https://pinterest.com/" title="Pinterest">Pinterest</a>
			<a class="delicious" href="http://delicious.com/" title="Delicious">Delicious</a>
			<a class="pinboard" href="https://pinboard.in/u:" title="Pinboard">Pinboard</a>
			<a class="douban" href="https://www.douban.com/people/" title="Douban">Douban</a>
			<a class="quora" href="https://quora.com/" title="Quora">Quora</a>
			<a class="instagram" href="https://instagram.com/" title="Instagram">Instagram</a>
			<a class="behance" href="https://www.behance.net/" title="Behance">Behance</a>
			<a class="facebook" href="http://www.facebook.com/" title="Facebook">Facebook</a>
								<a class="twitter" href="http://twitter.com/" title="Twitter">Twitter</a>
								<a class="github" href="https://github.com/" title="GitHub">GitHub</a>
-->	
								

								<a class="rss" href="atom.xml" title="RSS">RSS</a>
							
						</div>
					</nav>
				</header>				
			</div>
		</div>	
		<div class="mid-col">
			<div class="mid-col-container"> <div id="content" class="inner">
<div itemscope itemtype="http://schema.org/Blog">


	<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
		<div class="meta">
			<div class="date">
				<time datetime="2015-10-25T10:47:23+08:00" itemprop="datePublished">2015/10/25</time>
			</div>
			
			 
			
		</div>
		<h1 class="title" itemprop="name"><a href="14457412439509.html" itemprop="url">
		---</a></h1>
		<div class="entry-content" itemprop="articleBody">
			
			<p>layout: post<br/>
title: <q>Java JDBC</q><br/>
category: Reading Notes</p>

<h2 id="toc_0">tags: [<q>读文章</q>, <q>Java</q>]</h2>

<p>{% include JB/setup %}</p>

<h2 id="toc_1">JDBC在getConnection之前为什么要调用Class.forName</h2>

<p>获取一个数据库连接的通用模板如下：</p>

<pre><code>String driver = &quot;oracle.jdbc.OracleDriver&quot;;
String url = &quot;jdbc:oracle:thin:@127.0.0.1:1521:orcl&quot;;
String user = &quot;scott&quot;;
String password = &quot;ticmy&quot;;
Class.forName(driver);
Connection conn = DriverManager.getConnection(url, user, password);
</code></pre>

<ul>
<li><p>里面有个<code>Class.forName(driver)</code>，这句话有什么作用？</p></li>
<li><p><code>Class.forName</code>做了什么。</p></li>
</ul>

<p>假设一个类以前从来没有被装进内存过，<code>Class.forName(String className)</code>这个方法会做以下几件事情：</p>

<p>1、装载。将字节码读入内存，并产生一个与之对应的<code>java.lang.Class</code>类对象</p>

<p>2、连接。这一步会验证字节码，为<code>static</code>变量分配内存，并赋默认值（0或null），并可选的解析符号引用（这里不理解没关系）</p>

<p>3、初始化。为类的<code>static</code>变量赋初始值，假如有<code>static int a = 1</code>;这个将a赋值为1的操作就是这个时候做的。除此之外，还要调用类的<code>static</code>块。（这一步是要点）</p>

<p><code>Class.forName(String className)</code>方法会将这三步都做掉，如下面的例子：</p>

<pre><code>package com.ticmy.oracle;

public class TestClinit {
    public static void main(String[] args) throws Exception {
        Class.forName(&quot;com.ticmy.oracle.ABC&quot;);
    }
}
class ABC {
    private static int a = getNum();
    static {
        System.out.println(&quot;this is static block&quot;);
    }
    public static int getNum() {
        System.out.println(&quot;getNum&quot;);
        return 1;
    }
}
</code></pre>

<p>程序的运行结果是：</p>

<pre><code>getNum
this is static block
</code></pre>

<p><strong>Class.forName(driver)的根本目的就是为了调用DriverManager.registerDriver。</strong></p>

<h3 id="toc_2">Reference：</h3>

<p><a href="http://www.ticmy.com/?p=249">http://www.ticmy.com/?p=249</a></p>


			
			
		</div>

	</article>
 
	<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
		<div class="meta">
			<div class="date">
				<time datetime="2015-10-25T10:47:23+08:00" itemprop="datePublished">2015/10/25</time>
			</div>
			
			 
			
		</div>
		<h1 class="title" itemprop="name"><a href="14457412439346.html" itemprop="url">
		---</a></h1>
		<div class="entry-content" itemprop="articleBody">
			
			<p>layout: post<br/>
title: <q>Nagle算法和Delayed ACK</q><br/>
category: Reading Notes</p>

<h2 id="toc_0">tags: [<q>读文章</q>, <q>网络</q>]</h2>

<p>{% include JB/setup %}</p>

<h2 id="toc_1">Nagle算法和Delayed ACK</h2>

<h4 id="toc_2">Nagle算法</h4>

<p>某个应用程序不断的发出小单位的数据，且某些只占1字节大小。因为TCP封包有40字节的报头，这导致了41字节大小的封包中只有1字节的可用数据。</p>

<pre><code>if 有新資料要傳送
   if 訊窗大小 &gt;= MSS and 可傳送的資料 &gt;= MSS
     立刻傳送完整MSS大小的segment
   else
    if 管線中有尚未確認的資料，即之前发送的数据未收到ACK
      在下一個確認(ACK)封包收到前，將資料排進緩衝區队列
    else
      立即傳送資料  
</code></pre>

<h4 id="toc_3">TCP delayed acknowledgment</h4>

<p>several ACK responses may be combined together into a single response, reducing protocol overhead.</p>

<h4 id="toc_4">Probelm</h4>

<p>If Nagle&#39;s algorithm is being used by the sending party, data will be queued by the sender until an ACK is received. If the sender does not send enough data to fill the maximum segment size, then the transfer will pause up to the ACK delay timeout.</p>

<h4 id="toc_5">Reference</h4>


			
			
		</div>

	</article>
 
	<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
		<div class="meta">
			<div class="date">
				<time datetime="2015-10-25T10:47:23+08:00" itemprop="datePublished">2015/10/25</time>
			</div>
			
			 
			
		</div>
		<h1 class="title" itemprop="name"><a href="14457412439199.html" itemprop="url">
		---</a></h1>
		<div class="entry-content" itemprop="articleBody">
			
			<p>layout: post<br/>
title: <q>Java LinkedList源码阅读</q><br/>
category: Reading Notes</p>

<h2 id="toc_0">tags: [<q>读文章</q>, <q>Java</q>]</h2>

<p>{% include JB/setup %}</p>

<h2 id="toc_1">LinkedList</h2>

<p>LinkedList是通过双向链表实现的。</p>

<p><strong>它的顺序访问会非常高效，而随机访问效率比较低</strong></p>

<pre><code>private transient Entry&lt;E&gt; header = new Entry&lt;E&gt;(null, null, null);

// 获取LinkedList的最后一个元素
public E getLast()  {
      if (size==0)
          throw new NoSuchElementException();

      // 由于LinkedList是双向链表；而表头header不包含数据。
      // 因而，这里返回表头header的前一个节点所包含的数据。
      return header.previous.element;
  }

 // 获取双向链表中指定位置的节点
 private Entry&lt;E&gt; entry(int index) {
     if (index &lt; 0 || index &gt;= size)
         throw new IndexOutOfBoundsException(&quot;Index: &quot;+index+
                                             &quot;, Size: &quot;+size);
     Entry&lt;E&gt; e = header;
     // 获取index处的节点。
     // 若index &lt; 双向链表长度的1/2,则从前先后查找;
     // 否则，从后向前查找。
     if (index &lt; (size &gt;&gt; 1)) {
         for (int i = 0; i &lt;= index; i++)
             e = e.next;
     } else {
         for (int i = size; i &gt; index; i--)
             e = e.previous;
     }
     return e;
 }


 // 从LinkedList末尾向前查找，删除第一个值为元素(o)的节点
 // 从链表开始查找，如存在节点的值为元素(o)的节点，则删除该节点
 public boolean removeLastOccurrence(Object o) {
     if (o==null) {
         for (Entry&lt;E&gt; e = header.previous; e != header; e = e.previous) {
             if (e.element==null) {
                 remove(e);
                 return true;
             }
         }
     } else {
         for (Entry&lt;E&gt; e = header.previous; e != header; e = e.previous) {
             if (o.equals(e.element)) {
                 remove(e);
                 return true;
             }
         }
     }
     return false;
 }
</code></pre>


			
			
		</div>

	</article>
 
	<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
		<div class="meta">
			<div class="date">
				<time datetime="2015-10-25T10:47:23+08:00" itemprop="datePublished">2015/10/25</time>
			</div>
			
			 
			
		</div>
		<h1 class="title" itemprop="name"><a href="14457412439051.html" itemprop="url">
		---</a></h1>
		<div class="entry-content" itemprop="articleBody">
			
			<p>layout: post<br/>
title: <q>JavaScript基本包装类型</q><br/>
category: Reading Notes</p>

<h2 id="toc_0">tags: [<q>读书笔记</q>, <q>JavaScript</q>]</h2>

<p>{% include JB/setup %}</p>

<pre><code>var falseObject = new Boolean(false);
var result3 = falseObject &amp;&amp; true;
alert(result3); // true

var falseValue = false;
result4 = falseValue &amp;&amp; true;
alert(result4); // false

alert(typeof falseObject); // object
alert(typeof falseValue); // boolean
alert(falseObject instanceof Boolean); // true
alert(falseValue instanceof Boolean); // false
</code></pre>

<p>在这个例子中，我们使用false值创建了一个Boolean对象。然后，将这个对象与基本类型值true构成了逻辑与表达式。在布尔运算中，false &amp;&amp; true等于false。可是，<strong>示例中的这行代码是对falseObject而不是对它的值（false）进行求值</strong>。<strong>布尔表达式中的所有对象都会被转换为true</strong>，因此falseObject对象在布尔表达式中代表的是true。</p>

<pre><code>var num = 10;
alert(num.toString());
alert(num.toString(2));
alert(num.toString(8));
alert(num.toString(10));
alert(num.toString(16));
</code></pre>

<p><strong>告诉它返回几进制数值的字符串形式</strong></p>

<h4 id="toc_1">Reference</h4>


			
			
		</div>

	</article>
 
	<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
		<div class="meta">
			<div class="date">
				<time datetime="2015-10-25T10:47:23+08:00" itemprop="datePublished">2015/10/25</time>
			</div>
			
			 
			
		</div>
		<h1 class="title" itemprop="name"><a href="14457412438900.html" itemprop="url">
		---</a></h1>
		<div class="entry-content" itemprop="articleBody">
			
			<p>layout: post<br/>
title: <q>JavaScript垃圾回收</q><br/>
category: Reading Notes</p>

<h2 id="toc_0">tags: [<q>读书</q>, <q>JavaScript</q>]</h2>

<p>{% include JB/setup %}</p>

<h2 id="toc_1">JavaScript垃圾回收</h2>

<h3 id="toc_2">标记清楚</h3>

<p>JavaScript中最常用的垃圾收集方式是标记清楚（mark-and-sweep）。当变量进入环境时，就将这个变量标记为“进入环境”。从逻辑上讲，永远不能释放进入环境的变量所占用的内存，因为只要执行流进入相应的环境，就可能会用到它们。而当变量离开环境时，则将其标记为“离开环境”。</p>

<h3 id="toc_3">引用计数</h3>

<p>另一种不太常见的垃圾收集策略叫做引用计数（reference counting）。引用计数的含义是跟踪记录每个值被引用的次数。当声明了一个变量并将一个引用类型值赋给该变量时，则这个值的引用次数就是1.如果同一个值又被赋给另一个变量，则该值的引用次数加1.</p>

<p>有一个严重的问题：循环引用。循环引用指的是对象A中包含一个指向对象B的指针，而对象B中也包含一个指向对象A的引用，例如：</p>

<pre><code>function problem(){
    var objectA = new Object();
    var objectB = new Object();

    objectA.someOtherObject = objectB;
    objectB.anotherObject = objectA;
}
</code></pre>

<p>在这个例子中，objectA和objectB通过各自的属性相互引用</p>

<p>IE中有一部分并不是原生JavaScript对象。例如，其BOM和DOM中的对象就是使用C++以COM对象的形式实现的，而COM对象的垃圾收集机制采用的就是引用计数策略。</p>

<pre><code>var element = document.getElementById(&quot;some_element&quot;);
var myObject = new Object();
myObject.element = element;
element.someObject = myObject;
</code></pre>

<p>为了避免类似这种循环引用问题，最好是在不使用它们的时候手工断开</p>

<pre><code>myObject.element = null;
element.someObject = null;
</code></pre>

<h3 id="toc_4">性能问题</h3>

<p>IE的垃圾收集器是根据内存分配量运行的，具体一点就是256个变量，4096个对象（或数组）字面量和数组元素（slot）或者64KB的字符串。达到上述任何一个临界值，垃圾回收器就会运行。</p>

<p>这种实现方式的问题在于，如果一个脚本中包含那么多变量，那么该脚本很可能会在其生命周期中一直保有那么多的变量。而这样一来，垃圾收集器就不得不频繁地运行。结果，由此引发了严重性能问题促使IE7重写了其垃圾收集例程。</p>

<h3 id="toc_5">管理内存</h3>

<p>分配给Web浏览器的可用内存数量通常要比分配给桌面程序的少。这样做的目的主要是出于安全方面的考虑，目的是防止运行JavaScript的网页耗尽全部系统内存而导致系统崩溃。</p>

<h4 id="toc_6">Reference</h4>


			
			
		</div>

	</article>
  

</div>
<nav id="pagenavi">
	 <a class="prev" href="all_17.html">Prev</a>  
	 <a class="next" href="all_19.html">Next</a> 
	<div class="center"><a href="archives.html">Blog Archives</a></div>

</nav>

</div>



        </div>
			<footer id="footer" class="inner">Copyright &copy; 2014
Powered by <a target="_blank" href="http://www.mweb.im">MWeb</a> &nbsp;&nbsp; 
Theme by <a href="http://shashankmehta.in/archive/2012/greyshade.html">Shashank Mehta</a>
      </footer>
		</div>
	</div>




</body>
</html>