<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>  
	  
  	NathanCHEN
  	
	</title>

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="atom.xml" rel="alternate" title="NathanCHEN" type="application/atom+xml">

	<link href="asset/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
	<link href="asset/stylesheets/font-awesome.min.css" media="screen, projection" rel="stylesheet" type="text/css">
	<script src="asset/javascripts/jquery.min.js"></script>
	<script src="asset/highlightjs/highlight.pack.js"></script>
	<link href="asset/highlightjs/styles/solarized_dark.css" media="screen, projection" rel="stylesheet" type="text/css">
<script>hljs.initHighlightingOnLoad();</script>

	<!--[if lt IE 9]><script src="asset/javascripts/html5.js"></script><![endif]-->
	<!-- <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'> -->
	<style type="text/css">
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito-Light'), url(asset/font/1TiHc9yag0wq3lDO9cw0voX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito-Regular'), url(asset/font/6TbRXKWJjpj6V2v_WyRbMX-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito-Bold'), url(asset/font/TttUCfJ272GBgSKaOaD7KoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
	</style>
	
	<style type="text/css">
	.container .left-col{ opacity: 1;}
	#pagenavi a{ font-size: 1.3em;}
	#pagenavi .next:before{ top: 3px;}
	#pagenavi .prev:before{ top: 3px;}
	.container .mid-col .mid-col-container #content .archives .title{ font-size: 1.5em;}
	.container .mid-col .mid-col-container #content article{ padding: 15px 0px;}
	#header .subtitle {
		line-height: 1.2em;
		padding-top: 8px;
	}
	article pre{ background: none; border: none; padding: 0;}
	article .entry-content{text-align: left;}
	.share-comment{ padding: 25px 0px; clear: both;}
	hr{ margin: 20px 0px;border: 0; border-top:solid 1px #ddd;}
	</style>
  

</head>


<body>
	<div class="container">
		<div class="left-col">
			<div class="intrude-less">
				<header id="header" class="inner">
					<div class="profilepic">
						<img src="asset/icon.jpg" style="width:160px;">
					</div>
					<h1><a href="index.html">NathanCHEN</a></h1>
					<p class="subtitle"></p>
					<nav id="main-nav">
						<ul class="main">
							<li><a href="index.html">Home</a></li>
						    <!-- <li><a href="all.html">Blog</a></li>-->	
						    <li><a href="archives.html">Archives</a></li>
						</ul>
					</nav>

					<nav id="sub-nav">
						<div class="social">

<!-- 
			<a class="email" href="mailto:" title="Email">Email</a>
			<a class="facebook" href="http://www.facebook.com/" title="Facebook">Facebook</a>
			<a class="google" href="https://plus.google.com/" rel="author" title="Google+">Google+</a>
			<a class="twitter" href="http://twitter.com/" title="Twitter">Twitter</a>
			<a class="github" href="https://github.com/" title="GitHub">GitHub</a>
			<a class="coderwall" href="https://coderwall.com/" title="Coderwall">Coderwall</a>
		    <a class="stackoverflow" href="http://stackoverflow.com/users/" title="StackOverflow"></a>
			<a class="linkedin" href="http://www.linkedin.com/in/" title="LinkedIn">LinkedIn</a>
			<a class="pinterest" href="https://pinterest.com/" title="Pinterest">Pinterest</a>
			<a class="delicious" href="http://delicious.com/" title="Delicious">Delicious</a>
			<a class="pinboard" href="https://pinboard.in/u:" title="Pinboard">Pinboard</a>
			<a class="douban" href="https://www.douban.com/people/" title="Douban">Douban</a>
			<a class="quora" href="https://quora.com/" title="Quora">Quora</a>
			<a class="instagram" href="https://instagram.com/" title="Instagram">Instagram</a>
			<a class="behance" href="https://www.behance.net/" title="Behance">Behance</a>
			<a class="facebook" href="http://www.facebook.com/" title="Facebook">Facebook</a>
								<a class="twitter" href="http://twitter.com/" title="Twitter">Twitter</a>
								<a class="github" href="https://github.com/" title="GitHub">GitHub</a>
-->	
								

								<a class="rss" href="atom.xml" title="RSS">RSS</a>
							
						</div>
					</nav>
				</header>				
			</div>
		</div>	
		<div class="mid-col">
			<div class="mid-col-container"> <div id="content" class="inner">
<div itemscope itemtype="http://schema.org/Blog">


	<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
		<div class="meta">
			<div class="date">
				<time datetime="2015-10-25T10:47:23+08:00" itemprop="datePublished">2015/10/25</time>
			</div>
			
			 
			
		</div>
		<h1 class="title" itemprop="name"><a href="14457412435680.html" itemprop="url">
		---</a></h1>
		<div class="entry-content" itemprop="articleBody">
			
			<p>layout: post<br/>
title: <q>个性化推荐的十大挑战</q><br/>
category: </p>

<h2 id="toc_0">tags: [<q>读文章</q>]</h2>

<p>{% include JB/setup %}</p>

<h3 id="toc_1">挑战一： 数据稀疏性问题</h3>

<p><strong>两个用户之间选择的重叠非常少。数据非常稀疏</strong>，使得绝大部分基于关联分析的算法（譬如协同过滤）效果都不好。</p>

<p>为了解决这个问题，也有很多方法，譬如可以通过扩散的算法，<strong>从原来的一阶关联（两个用户有多少相似打分或者共同购买的商品）到二阶甚至更高阶的关联</strong>（假设关联性或者说相似性本身是可以传播的），也可以添加一些缺省的打分。</p>

<h3 id="toc_2">挑战二：冷启动问题</h3>

<p><strong>新用户因为罕有可以利用的行为信息，很难给出精确的推荐。反过来，新商品由于被选择次数很少，也难以找到合适的方法推荐给用户</strong>。</p>

<p>一种方法是利用文本信息进行辅助推荐，或者通过注册以及询问得到一些用户的属性信息。</p>

<p>新用户更容易选择特别流行的商品，说明使用热销榜也能获得不错的结果。</p>

<p>冷启动问题还可以通过多维数据的交叉推荐部分解决，其精确度和多样性又远胜于热销榜。</p>

<h3 id="toc_3">挑战三：大数据处理与增量计算问题</h3>

<p>设计增量算法，也就是当产生新用户，<strong>新商品以及新的连接关系时，算法的结果不需要在整个数据集上重新计算，而只需要考虑所增加节点和连接局部的信息，对原有的结果进行微扰</strong>，快速得到新结果。一般而言，这种算法随着加入的信息量的增多，其误差会积累变大，最终每过一段时间还是需要利用全局数据重新进行计算。</p>

<h3 id="toc_4">挑战四：多样性与精确性的两难困境</h3>

<p>应用个性化推荐技术的商家，也希望推荐中有更多的品类出现，从而激发用户新的购物需求。但是推荐多样的商品和新颖的商品与推荐的精确性之间存在矛盾，因为前者风险很大--一个没什么人看过或者打分较低的东西推荐出手，很可能被用户憎恶，或者牺牲精确性来提高多样性。</p>

<h3 id="toc_5">挑战五：推荐系统的脆弱性问题</h3>

<p>一些心怀不轨的用户通过提供<strong>一些恶意虚假的行为</strong>，故意增加或者压制某些商品被推荐的可能性。</p>

<h3 id="toc_6">挑战六：用户行为模式的挖掘和利用</h3>

<p>例如：新用户和老用户具有很不一样的选择模式。</p>

<p>有些混合算法可以通过一个单参数调节推荐结果的多样性和热门程度，在这种情况下就可以考虑为给不同用户赋予不同参数，甚至允许用户自己移动一个滑钮调节这个参数--当用户想看热门的时候，算法提供热门推荐；当用户想找点很酷的产品时，算法也可以提供冷门推荐。</p>

<h3 id="toc_7">挑战七：推荐系统效果评估</h3>

<p><strong>常见的评估指标可以分成四大类：分别是准确度、多样性、新颖性和覆盖率</strong>。</p>

<h3 id="toc_8">挑战八：用户界面与用户体验</h3>

<p>即推荐结果的可解释性，对于用户体验有至关重要的影响--用户希望知道这个推荐是怎么来的。</p>

<p>协同过滤有明显的优势，譬如亚马逊基于商品的协同过滤在发送推荐的电子邮件时会告诉用户之所以向其推荐某书，是因为用户之前购买过某些书。</p>

<p>不同类别往往来自于不同的推荐方法，譬如看过还看过（浏览过本商品的客户还浏览过的商品）、买过还买过（购买过本商品的客户还购买过的商品）、看过最终购买（浏览过本商品的客户最终购买的商品）、个性化热销榜（个性化流行品推荐）、猜你喜欢（个性化冷门商品推荐）等等。</p>

<h3 id="toc_9">挑战九：多维数据的交叉利用</h3>

<p>譬如你可能既有新浪微博的帐号，又是人人网的注册用户，还是用手机，那么你已经同时在三个巨大的社会网络中了。与此同时，你可能还经常在淘宝、京东、麦包包、1号店、库巴网……这些地方进行网购，那么你也是一张巨大的用户-商品二部分图中的一员。想象如果能够把这些网络数据整合起来，特别是知道每个节点身份的对应关系（不需要知道你真实身份，只需要知道不同网络中存在的一些节点是同一个人），其中有特别巨大的社会经济价值。</p>

<h3 id="toc_10">挑战十：社会推荐</h3>

<p>用户更喜欢来自朋友的推荐而不是被系统“算出来的推荐”</p>

<h3 id="toc_11">Reference:</h3>

<p>周涛，个性化推荐的十大挑战， <a href="http://blog.sciencenet.cn/home.php?mod=space&amp;uid=3075&amp;do=blog&amp;id=554630%EF%BC%8C">http://blog.sciencenet.cn/home.php?mod=space&amp;uid=3075&amp;do=blog&amp;id=554630，</a> viewed on 03/05/2012</p>


			
			
		</div>

	</article>
 
	<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
		<div class="meta">
			<div class="date">
				<time datetime="2015-10-25T10:47:23+08:00" itemprop="datePublished">2015/10/25</time>
			</div>
			
			 
			
		</div>
		<h1 class="title" itemprop="name"><a href="14457412435575.html" itemprop="url">
		---</a></h1>
		<div class="entry-content" itemprop="articleBody">
			
			<p>layout: post<br/>
title: <q>基础算法(1)</q><br/>
category: </p>

<h2 id="toc_0">tags: [<q>读文章</q>, <q>算法</q>]</h2>

<p>{% include JB/setup %}</p>

<pre><code>Linear search:                  O(N)
Binary search:                  O(logN)
Insertion in unordered array:   O(1)
Insertion in ordered array:     O(N)
Deletion in unordered array:    O(N)
Deletion in ordered array:      O(N)
</code></pre>

<ul>
<li><p>Bubble Sort:</p>

<ul>
<li>Compare two players</li>
<li>If the one on the left is taller, swap them</li>
<li><p>Move one position right</p>

<p>You continue down the line this way until you reach the right end. <strong>You have by no means finishes sorting the kids, but you do know that the tallest kid is on the right</strong>.</p></li>
<li><p>When you reach the first sorted player, start over at the left end of the line.</p></li>
</ul></li>
<li><p>Selection Sort:</p>

<ul>
<li>Making a pass through all the players and picking the shortest one.</li>
<li>This shortest player is then swapped with the player on the left end of the line, at postion 0.</li>
<li>Now the leftmost player is sorted and wont need to be moved again.</li>
<li>The next time you pass down the row of players, you start at position 1, and, finding the minimum, swap with postion 1.</li>
</ul></li>
<li><p>Insertion Sort:</p></li>
<li><p>A stack is used to reverse the letters（字段一个单词一个单词放入stack中） and delimiter matching（开始的（或{放入stack中，如果遇到}或者）就pop出来，出现pop的和输入的不符，则不匹配）.</p></li>
<li><p>Stack: FILO</p></li>
<li><p>Queue: FIFO</p></li>
<li><p>Priority Queue: Like an ordinary queue, a priority queue has a front and a rear, and items are removed from the front. However, in a priority queue, <strong>items are ordered by key value so that the item with the lowest key is always at the front</strong>. Items are inserted in the proper position to maintain the order.</p></li>
<li><p>The mergesort is fairly easy to implement. The downside of the mergesort is that it requires an additional array in memory, equal in size of the one being sorted. If your original array barely fits in memory, the mergesort wont work. However, if you have enough space, it&#39;s a good choice.</p></li>
</ul>


			
			
		</div>

	</article>
 
	<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
		<div class="meta">
			<div class="date">
				<time datetime="2015-10-25T10:47:23+08:00" itemprop="datePublished">2015/10/25</time>
			</div>
			
			 
			
		</div>
		<h1 class="title" itemprop="name"><a href="14457412435478.html" itemprop="url">
		---</a></h1>
		<div class="entry-content" itemprop="articleBody">
			
			<p>layout: post<br/>
title: <q>Database Systems(1)</q><br/>
category: </p>

<h2 id="toc_0">tags: [<q>读书</q>]</h2>

<p>{% include JB/setup %}</p>

<ul>
<li><p>Database: Collection of data central to some enterprise/ organisation; essential to operation of enterprise; an asset in its own right: historial data can guide enterprise strtegy, of interest to other enterprises; database is persistent; all qualfied users have access to the same data for use in a variety of activities.</p></li>
<li><p>A database management system is a program that manages a database: stores the database on some mass storage providing fail safety(backup/ recovery); supports a high-level access language(SQL); provdes transaction management to guarantee correct concurrent access to shared data.</p></li>
<li><p>Disadvantages of File processing:</p>

<p>1) Program-data dependence: all programs contain full descriptions of each data file they use</p>

<p>2) Data Redundancy: different systems/ programs have separate copies of the same data; no centralized control of data</p>

<p>3) Limited data sharing: required data in several, potentially incompatible files.</p>

<p>4) Excessive progrmam maintenance</p></li>
<li><p>Advantages of Database:</p>

<p>1) Program-data independence: metadata stored in DBMS, so applications dont need to worry about data formats; results in reduced application development time, increased maintenance productivity and efficient access.</p>

<p>2) minimal data redundancy: leads to increased data integrity/ consistency</p>

<p>3) Improved Data Sharing: different users get different views of the data; efficient concurrent access</p>

<p>4) Enforcement of standards: all data access is done in the same way</p>

<p>5) Improved data quality: integrity constraints, data validation rules</p>

<p>6) Better data accessibility/ responsiveness: use of standard data query language(SQL)</p>

<p>7) security, backup/recovery, concurrency</p></li>
<li><p>Relational Databases</p>

<ul>
<li>Stores data as rows with multiple attributes</li>
<li>Rows of the same format(&#39;type&#39;) form a table</li>
<li>A relational database is a collection of such tables (which typically are related to each other by key attributes)</li>
</ul></li>
<li><p>What is a transaction: When an event in the real world changes the state of the enterprise, a transaction is executed to cause the corresponding change in the database state.</p></li>
<li><p>DB system requirements:<br/>
1) High Availability: online -&gt; must be operational while enterprise is functioning<br/>
2) High Reliability: correctly tracks state, does not loose data, controlled concurrency<br/>
3) High Throughput: many users -&gt; many transactions per second<br/>
4) Low Response Time: on line -&gt; users are waiting<br/>
5) Long lifetime: complex systems are not easily replaced<br/>
6) Security: sensitive information must be carefully protected since system is accessible to many users.</p></li>
<li><p>Data model: a collection of concepts for describing data</p></li>
<li><p>Schema: a description of a particular collection of data at some abstraction level, using a given data model.</p></li>
<li><p>Relational data model:</p>

<p>relation, basically a table with rows and columns</p>

<p>schema, which describes the columns or fields</p></li>
<li><p>Relation is a set of tuples (is a named, two-dimensional table of data)</p>

<p>1) tuple ordering immaterial<br/>
2) No duplicates<br/>
3) Cardinality of relation = number of tuples per entity</p></li>
<li><p>All tuples in a relation have the same structure; constructed from the same set of attributes.</p>

<p>1) Arity of relation = number of attributes<br/>
2) attributes are named (ordering is immaterial)</p></li>
<li><p>Not all tables qualify as a relation</p>

<p>1) Every relation must have a unique name<br/>
2) Attributes in tables must have unique names<br/>
3) Every attribute value is atomic. The range of allowed values of an attribute is called its domain<br/>
4) The order of the columns is irrellevant<br/>
5) Every row is unique (cant have two rows with exactly the same values for all their fields)<br/>
6) The order of the rows is irrelevant</p></li>
<li><p>A relation R(表格中具体的数据) has a relation schema（表格的输入格式）, which specifies name of relation, and name and data type of each attribute</p></li>
<li><p>Relation schema:</p>

<p>Students(sid: string, name: string, login: string, addr: string, gender: char)</p></li>
<li><p>Relation: <br/>
    R = { (Jones, Main, Sydney),<br/><br/>
         (Smith, North, Perth), <br/>
         (Curry, North, Brisbane), <br/>
         (Lindsay, Park, Sydney) } </p></li>
<li><p>A relation instance: a set of tuples(table) for a schema</p></li>
</ul>

<h1 id="toc_1">rows = cardinality</h1>

<h1 id="toc_2">fields = degree (or arity) of a relation</h1>

<ul>
<li><p>First Normal Form (<strong>1NF</strong>) is the restriction of atomic attributes</p></li>
<li><p>Relational database management system(RDBMS) allows duplicate rows</p>

<p>In a SQL-based RDBMS, it is possible to insert a row where every attribute has the same value as an existing row. The table will then contain two identical rows. </p></li>
<li><p>RDBMS allows a special <q>null</q> value in a column to represent facts that are not relevant, or not yet known.</p></li>
<li><p><strong>It is very dangerous to instead use an ordinary value with special meaning</strong>: Eg if salary = -1 is used for <q>unknown</q>, then averages wont be sensible</p></li>
<li><p>keys are special attributes that serve two main purposes:</p>

<p>1) Primary keys are unique, minimal identifiers of the relation in question. <br/>
2) Foreign keys are identifiers that enable a dependent relation (on the many side of a relationship) to refer to its parent relation (on the one side of the relationship)</p></li>
<li><p>Keys can be simple (a single attribute) or composite (more than one attribute)</p></li>
<li><p>Keys usually are used as indices to speed up the response to user queries</p></li>
<li><p>Possibly many candidate keys (specified using UNIQUE), one of which is chosen as the primary key</p></li>
<li><p>Foreign key: set of attributes in a relation that is used to &#39;refer&#39; to a tuple in a parent relation</p></li>
<li><p>Referential Integrity: for each tuple in the referring relation whose foreign key value is a, there must be a tuple in the referred relation whose primary key value is also a.</p></li>
<li><p>CREATE TABLE Enrolled ( sid INTEGER, ucode CHAR(8), semester VARCHAR, </p>

<p>CONSTRAINT Enrolled_FK1 FOREIGN KEY (sid) REFERENCES Student, </p>

<p>CONSTRAINT Enrolled_FK2 FOREIGN KEY (ucode) REFERENCES UoS, </p>

<p>CONSTRAINT Enrolled_PK  PRIMARY KEY (sid,ucode)  </p>

<p>);</p></li>
<li><p>Data Structure: A relational database is a set of relations (tables) with tuples (rows) and fields (columns) - a simple and consistent structure</p></li>
<li><p>The union of the corresponding relational schemata is the relational database schema</p></li>
<li><p>Data manipulation: powerful operators to manipulate the data stored in relations</p></li>
<li><p>Data Integrity: facilities to specify a variety of rules to maintain the integrity of data when it is manipulated.</p></li>
<li><p>Integrity Constraint (IC): condition that must be true for any instance of the database.</p>

<p>ICs can be declared in the schema. They are specified when schema is defined. All declared ICs are checked whenever relations are modified.</p></li>
<li><p>A legal instance of a relation is one that satisfies all specified ICs. If ICs are declared, DBMS will not allow illegal instances.</p></li>
<li><p>Logical schema: </p>

<ul>
<li>Student(sid:integer, name:string, login:string, bdate: date, sex:char) </li>
<li>UoS(ucode:string, cname:string, credits: integer) </li>
<li>Enrolled(sid:integer, ucode :string, semester: integer, grade:string) </li>
</ul></li>
<li><p>Physical Schema: </p>

<ul>
<li>describes details of how data is stored:<br/></li>
<li>E.g. relations stored as unordered files </li>
<li>Index on first column of Students </li>
<li>non-database applications typically have only on a physical schema</li>
</ul></li>
<li><p>External Schema (view) </p>

<ul>
<li>UoS_info(ucode :string, enrolment: integer) </li>
</ul></li>
<li><p>A view is a virtual relation, but we store a definition, rather than a set of tuples. A mechanism to hide data from the view of certain users.Views can be used to present necessary information, while hiding details in underlying relations. </p></li>
<li><p>Entity: a person, place, object, event, or concept about which you want to gather and store data</p></li>
<li><p>Entity type (also: entity set): a collection of entities that share common properties or characteristics, which is described by a set of attributes</p></li>
<li><p>Attribute: describe one aspect of an entity type</p></li>
<li><p>domain: possible values of an attribute</p></li>
<li><p>key: minimal set of attributes that uniquely identifies an entity in the set</p></li>
<li><p>Relationship: relates two or more entities</p></li>
<li><p><strong>number of entities is also known as the degree of the relationship</strong></p></li>
<li><p>relation (relational model): set of tuples</p>

<p>relationship (E-R model): describes relationship between entities</p>

<p>Both entity sets and relationship sets (E-R model) may be represented as relations (in the relational model)</p></li>
<li><p><strong>Weak entity type: an entity type that does not have a primary key</strong>.</p>

<p>1) can be seen as an exclusive &#39;part-of&#39; relationship</p>

<p>2) its existence depends on the existence of one or more identifying entity types</p>

<p>3) it must relate to the identifying entity set via a total, one-to-many identifying relationship type from the identifying to the weak entity set</p>

<p>Eg: child from parents, payment of a loan</p></li>
<li><p>The discriminator (or partial key) of a weak entity type is the set of attributes that distinguishes among all the entities of a weak entity type related to the same owning entity</p></li>
<li><p>The most important requirement is adequacy: that the design should allow representing all the important facts about the design</p></li>
<li><p>If a design is adequate, then we seek to avoid redundancy in the data</p></li>
<li><p>Redundant data is where the same information is repeated in several places in the db</p></li>
<li><p>Redundancy is at the root of several problems associated with relational schemas:</p>

<p>1) Insertion Anomaly: Adding new rows forces user to create duplicate data or to use null value</p>

<p>2) Deletion Anomaly: Deleting rows may causes a loss of data that would be needed for other future rows.</p>

<p>3) Update Anomaly: Changing data in a row forces changes to other rows because of duplication</p></li>
<li><p>To say a table relation, it should contain unique rows and no multivalued attributes.</p></li>
<li><p>Functional Dependency: the value of one attribute determines the value of another attribute</p></li>
<li><p>FDs must be identified based on the semantics of an application</p></li>
<li><p><strong>A relation R is in First Normal Form(1NF) if the domains of all attributes of R are atomic</strong> （所有元素都是不能拆分的）</p></li>
<li><p>Domain is atomic if its elements are considered to be indivisible units; Examples of non-atomic domains: multivalued attributes, composite attributes</p></li>
<li><p><strong>Second Normal Form (2NF): 1NF + every non-key attribute is fully functionally dependent on the primary key, this means no partial dependencies, no FD x -&gt; y where x is a strict subset of some key（1NF + 所有非键元素都可以通过主键查找到）</strong></p></li>
<li><p><strong>Third Normal Form (3NF)：2NF + no transitive dependencies (functional dependencies between non-primary-key attributes). No FD of the form x -&gt; y, where x is not a key and y is not at least a subset of a key</strong></p></li>
<li><p>在任何一个关系数据库中，第一范式（1NF）是对关系模式的基本要求，不满足第一范式（1NF）的数据库就不是关系数据库。在第一范式（1NF）中表的每一行只包含一个实例的信息。</p></li>
<li><p>第二范式（2NF）要求数据库表中的每个实例或行必须可以被唯一地区分。<strong>所谓完全依赖是指不能存在仅依赖主关键字一部分的属性</strong>。第二范式就是非主属性非部分依赖于主关键字。</p></li>
<li><p><strong>第三范式（3NF）要求一个数据库表中不包含已在其它表中已包含的非主关键字信息</strong>。</p></li>
</ul>


			
			
		</div>

	</article>
 
	<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
		<div class="meta">
			<div class="date">
				<time datetime="2015-10-25T10:47:23+08:00" itemprop="datePublished">2015/10/25</time>
			</div>
			
			 
			
		</div>
		<h1 class="title" itemprop="name"><a href="14457412435379.html" itemprop="url">
		---</a></h1>
		<div class="entry-content" itemprop="articleBody">
			
			<p>layout: post<br/>
title: <q>Effective JAVA(2)</q><br/>
category: </p>

<h2 id="toc_0">tags: []</h2>

<p>{% include JB/setup %}</p>

<h2 id="toc_1">Item 3:</h2>

<h3 id="toc_2">Enforce the singleton property with a private constructor or an enum type</h3>

<p>A singleton is simple a class that is instantiated exactly once.</p>

<pre><code>Approach 1:
    public static final Elvis INSTANCE = new Elvis();

Approach 2:
    private static final Elvis INSTANCE = new Elvis();
    public static Elvis getInstance() { return INSTANCE; }
</code></pre>

<p>The main advantage of the public field approach is that the declarations make it clear that the class is a singleton.</p>

<p>One advantage of the factory-method approach is that it gives you the flexibility to change your mind about whether the class should be a singleton without changing its API. The factory method returns the sole instance but could easily be modified to return a unique instance for each thread that invokes it. A second advantage, concerning generic types.</p>

<p>To make a singleton class that is implemented using either of the previous approaches serializable. Otherwise, each time a serialized instance is deserialized, a new instance will be created. To prevent this, add this readResolve method to the Elvis class:</p>

<pre><code>// readResolve method to preserve singleton property
</code></pre>

<p>private Object readResolve() {<br/>
        // Return the one true Elvis and let the garbage collector<br/>
        // take care of the Elvis impersonator.<br/>
       return INSTANCE;<br/>
   }</p>

<p>There is a third approach to implementing singletons. Simply make an enum type with one element:</p>

<pre><code>// Enum singleton - the preferred approach
</code></pre>

<p>public enum Elvis {<br/>
       INSTANCE;<br/>
       public void leaveTheBuilding() { ... }<br/>
   }</p>

<p><strong>A single-element enum type is the best way to implement a singleton.</strong></p>

<h2 id="toc_3">Item 4:</h2>

<h3 id="toc_4">Enforce noninstantiability with a private constructor</h3>

<p>Attempting to enforce noninstantiability by making a class abstract does not work.</p>

<p><strong>A class can be made noninstantiable by including a private constructor</strong>:</p>

<pre><code>// Noninstantiable utility class
</code></pre>

<p>public class UtilityClass <br/>
   {<br/>
       // Suppress default constructor for noninstantiability<br/>
       private UtilityClass() <br/>
       {<br/>
           throw new AssertionError();<br/>
        }<br/>
       ...  // Remainder omitted<br/>
   }</p>

<p>It guarantees that the class will never be instantiated under any circumstances.</p>

<h2 id="toc_5">Item 5:</h2>

<h3 id="toc_6">Avoid creating unnecessary objects</h3>

<p>You can often avoid creating unnecessary objects by using static factory methods. For example, the static factory method Boolean.valueOf(String) is almost always preferable to the constructor Boolean(String)</p>

<p>class Person {<br/>
       private final Date birthDate;<br/>
       // Other fields, methods, and constructor omitted<br/>
       /<br/>
         The starting and ending dates of the baby boom.<br/>
        /<br/>
       private static final Date BOOM_START;<br/>
       private static final Date BOOM_END;</p>

<pre><code>   static {
       Calendar gmtCal =
           Calendar.getInstance(TimeZone.getTimeZone(&quot;GMT&quot;));
       gmtCal.set(1946, Calendar.JANUARY, 1, 0, 0, 0);
       BOOM_START = gmtCal.getTime();
       gmtCal.set(1965, Calendar.JANUARY, 1, 0, 0, 0);
       BOOM_END = gmtCal.getTime();
    }

   public boolean isBabyBoomer() {
       return birthDate.compareTo(BOOM_START) &gt;= 0 &amp;&amp;
              birthDate.compareTo(BOOM_END)   &lt;  0;
    } 
}
</code></pre>

<p>The Person class creates Calendar, TimeZone, and Date instances only once, when it is initialized, instead of creating them every time isBabyBoomer is invoked.</p>

<p><strong>Prefer primitives to boxed primitives, and watch out for unintentional autoboxing.</strong></p>


			
			
		</div>

	</article>
 
	<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
		<div class="meta">
			<div class="date">
				<time datetime="2015-10-25T10:47:23+08:00" itemprop="datePublished">2015/10/25</time>
			</div>
			
			 
			
		</div>
		<h1 class="title" itemprop="name"><a href="14457412435291.html" itemprop="url">
		---</a></h1>
		<div class="entry-content" itemprop="articleBody">
			
			<p>layout: post<br/>
title: <q>Effective JAVA(1)</q><br/>
category: </p>

<h2 id="toc_0">tags: [<q>读书</q>, <q>Java</q>]</h2>

<p>{% include JB/setup %}</p>

<h2 id="toc_1">Item 1:</h2>

<h3 id="toc_2">Consider static factory methods instead of constructors</h3>

<p><strong>The normal way for a class to allow a client to obtain an instance of itself is to provide a public constructor</strong>. A class can provide a public static factory method, which is simply a static method that returns an instance of the class.</p>

<p>A class can provide its clients with static factory methods instead of, or in addition to, constructors.</p>

<pre><code>One advantage of static factory methods is that, unlike constructors, they have names.
</code></pre>

<p>A static factory with a well-chosen name is easier to use and the resulting client code easier to read. <strong>For example, the constructor BigInteger(int, int, Randon)m which returns a BigInteger that is probably prime, would have been better expressed as a static factory method named BigInteger.probablePrime</strong>.</p>

<h5 id="toc_3">In case where a class seems to require multiple constructors with the same signature, replace the constructors with static factory methods and carefully chosen names to highlight their differences.</h5>

<pre><code>A second advantage of static factory methods is that, unlike constructors, they are not required to create a new object each time they&#39;re invoked.
</code></pre>

<p>The Boolean.valueOf(boolean) method illustrates this technique: it never creates an object. Instance control allows a class to guarantee that it is a singleton or noninstantiable. It allows an immutable class to make the guarantee that no two equal instances exist: a.equals(b) if and only if a==b</p>

<pre><code>A third advantage of static factory methods is that, unlike constructors, they can return an object of any subtype of their return type.

A fourth advantage of static factory methods is that they reduce the verbosity of creating parameterized type instances.

Map&lt;String, List&lt;String&gt;&gt; m = new HashMap&lt;String, List&lt;String&gt;&gt;();

OR

public static &lt;K, V&gt; HashMap&lt;K, V&gt; newInstance(){
    return new HashMap&lt;K, V&gt;();
} 

Map&lt;String, List&lt;String&gt;&gt; m = HashMap.newInstance();
</code></pre>

<h5 id="toc_4">The main disadvantage of providing only static factory methods is that classes without public or protected constructors cannot be subclassed.</h5>

<pre><code>A second disadvantage of static factory methods is that they are not readily distinguishable from other static methods (names of static methods for different classes could be identical).
</code></pre>

<h2 id="toc_5">Item 2:</h2>

<h3 id="toc_6">Consider a builder when faced with many constructor parameters</h3>

<p>Static factories and constructors share a limitation: they do not scale well to large numbers of optional parameters.</p>

<p>Traditionally, programmers have used the telescoping constructor pattern, in which you provide a constructor with only the required parameters, another with a single optional parameter, a third with two optional parameters, and so on.</p>

<pre><code>NutritionFacts cocaCola = new NutritionFacts(240, 8, 100, 0, 35, 27);
</code></pre>

<p>The telecoping constructor pattern works, but it is hard to write client code when there are many parameters, and harder still to read it.</p>

<p>A second alternative when you are faced with many constructor parameters is the JavaBeans pattern, in which you call a parameterless constructor to create the object and then call setter methods to set each required parameter and each optional parameter of interest.</p>

<p>The JavaBeans pattern has serious disadvantages of its own. Because construction is split across multiple calls, a JavaBean may be in an inconsistent state partway through its construction.</p>

<h5 id="toc_7">A third alternative is BUILDER Pattern.</h5>

<p>Instead of making the desired object directly, the client calls a constructor (or static factory) with all of the required parameters and gets a builder object. Then the client calls setter-like methods on the builder object to set each optional parameter of interest. Finally, the client calls a parameterless build method to generate the object, which is immutable.</p>

<pre><code>public class NutritionFacts 
{
    private final int servingSize;
    private final int servings;
    private final int calories;
    private final int fat;
    private final int sodium;
    private final int carbohydrate;

    public static class Builder 
    {
        // Required parameters
        private final int servingSize;
        private final int servings;
        // Optional parameters - initialized to default values
        private int calories      = 0;
        private int fat           = 0;
        private int carbohydrate  = 0;
        private int sodium        = 0;

        public Builder(int servingSize, int servings) 
        {
            this.servingSize = servingSize;
            this.servings    = servings;
        }

        public Builder calories(int val)
        { calories = val;      return this; }

        public Builder fat(int val)
        { fat = val;           return this; }

        public Builder carbohydrate(int val)
        { carbohydrate = val;  return this; }

        public Builder sodium(int val)
        { sodium = val;        return this; }

        public NutritionFacts build() 
        {
            return new NutritionFacts(this);
        } 
    }

    private NutritionFacts(Builder builder) 
    {
        servingSize  = builder.servingSize;
        servings     = builder.servings;
        calories     = builder.calories;
        fat          = builder.fat;
        sodium       = builder.sodium;
        carbohydrate = builder.carbohydrate;
    } 
}
</code></pre>

<h5 id="toc_8">NutritionFacts cocaCola = new NutritionFacts.Builder(240, 8).calories(100).sodium(35).carbohydrate(27).build();</h5>

<h3 id="toc_9">The builder pattern is a good choice when designing classes whose constructor or static factories would have more than a handful of parameters.</h3>


			
			
		</div>

	</article>
  

</div>
<nav id="pagenavi">
	 <a class="prev" href="all_23.html">Prev</a>  
	 <a class="next" href="all_25.html">Next</a> 
	<div class="center"><a href="archives.html">Blog Archives</a></div>

</nav>

</div>



        </div>
			<footer id="footer" class="inner">Copyright &copy; 2014
Powered by <a target="_blank" href="http://www.mweb.im">MWeb</a> &nbsp;&nbsp; 
Theme by <a href="http://shashankmehta.in/archive/2012/greyshade.html">Shashank Mehta</a>
      </footer>
		</div>
	</div>




</body>
</html>