.main {
    background-color: #fff;
    width: 100%;
}

.main img{
    width: 100%;
}

.bottom {
    position: relative;
    left: 0;
    height: 10%;
    width: 100%;
    z-index: 1000;
}

.bottom img {
    width: 100%;
}
