.main {
    background-color: #FFD2DB;
    height: 100%;
    width: 100%;
}

.main img{
    width: 100%;
}

.directory {
    background-color: #FFD2DB;
    height: 100%;
    width: 100%;
}

.directory img{
    width: 100%;
}