
body {
    background-color: #333333;
    filter: alpha(Opacity=95);
    -moz-opacity: 0.95;
    opacity: 0.95;
    width: 100%;
}

img {
    width: 30%;
    margin-top: 5%;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.fancybox-skin {
    background-color: transparent;
}

.fancybox-overlay {
    background-color: #333333;
    filter: alpha(Opacity=95);
    -moz-opacity: 0.95;
    opacity: 0.95;
}
